.container {
  margin: 10rem auto;
  padding: 6.4rem;
  max-width: 65rem;
  border: 1px solid #333;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

h1 {
  font-size: 2.4rem;
  font-weight: 500;
}

/* BUTTONS */
button,
[type='button'],
[type='submit'],
[type='reset'] {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button.btn--add {
  margin-right: 0.6rem;
  margin-left: 0.4rem;
  height: 2rem;
  padding: 0 1rem;
  align-self: center;
  border-radius: 4px;
  background-color: #333;
  color: white;
}

button.btn--delete {
  margin: 0 1rem 0 0.3rem;
  border: none;
  display: flex;
  align-items: center;
}

button.btn--clear {
  height: 2.2rem;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 6px;
  font-size: 1.2rem;
  padding: 0rem 1rem;
}

/* INPUTS */

.input-text-container {
  width: 100%;
  border: 2.5px solid #333;
  border-radius: 6px;
  overflow: hidden;
  font-family: 'DM sans';
  display: flex;
  align-items: center;
}

.input-details {
  display: inline-block;
  height: 2rem;
  margin-right: 0.3rem;
  padding: 0 0.3rem;
  border: 1px solid #333;
  border-radius: 6px;
  color: #fff;
  background-color: #333;
  font-family: 'DM sans';
}

.input-details--date {
  width: 11rem;
}
.input-details--priority {
  width: 7.6rem;
}

.input-details--sort {
  background-color: #fff;
  color: #333;
  height: 100%;
  font-weight: 500;
  font-size: 1.2rem;
}

.input-text {
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  font-family: 'DM Sans';
}

input:focus,
input:focus-visible,
input:active {
  outline: none;
  box-shadow: none;
  border: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1); /* odwraca kolor ikony, będzie biała */
  cursor: pointer;
}

input[type='date'] {
  border: 1px solid #333;
  outline: none;
  box-shadow: none;
}

.input-text:focus {
  box-shadow: none;
  border: none;
}

input[type='checkbox'] {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #333;
  border-radius: 2px;
}

input[type='checkbox']:checked {
  background-color: #777;
  border-color: #777;
}

/* TASKS LIST */

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.task {
  display: flex;
  justify-content: flex-start;
  gap: 0.8rem;
  align-items: center;
}

.task-details-container {
  margin-left: auto;
}

.task-details {
  display: inline-block;
  background-color: #fff;
  border-radius: 6px;
  color: #333;
  font-size: 1.2rem;
  padding: 0.1rem 0.8rem;
}

.task-details--date {
  width: 11rem;
}

.task-details--priority {
  width: 7.6rem;
}

.task-details,
marked {
  color: #999;
}

.align-right {
  margin-left: auto;
}

.icon {
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 0.5rem;
}

.marked {
  text-decoration-line: line-through;
  text-decoration-thickness: 1.5px;
  color: #999;
}

.sort-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

/* FOOTER */

.stats {
  margin-bottom: 3rem;
  margin-top: auto;
  text-align: center;
}
